{% block body %}

	<!--************************************
				Header Start
	*************************************-->
	<header id="tg-header" class="tg-header tg-haslayout">
		<div class="tg-middlecontainer">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<strong class="tg-logo"><a href="index.html"><img src="images/logo.png" alt="company name here"></a></strong>
						<div class="tg-wishlistandcart">

							<div class="dropdown tg-themedropdown tg-minicartdropdown">

								<div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-minicart">
									<div class="tg-minicartbody">
										<div class="tg-minicarproduct">
											<figure>
												<img src="images/products/img-01.jpg" alt="image description">

											</figure>
											<div class="tg-minicarproductdata">
												<h5><a href="javascript:void(0);">Our State Fair Is A Great Function</a></h5>
												<h6><a href="javascript:void(0);">$ 12.15</a></h6>
											</div>
										</div>
										<div class="tg-minicarproduct">
											<figure>
												<img src="images/products/img-02.jpg" alt="image description">

											</figure>
											<div class="tg-minicarproductdata">
												<h5><a href="javascript:void(0);">Bring Me To Light</a></h5>
												<h6><a href="javascript:void(0);">$ 12.15</a></h6>
											</div>
										</div>
										<div class="tg-minicarproduct">
											<figure>
												<img src="images/products/img-03.jpg" alt="image description">

											</figure>
											<div class="tg-minicarproductdata">
												<h5><a href="javascript:void(0);">Have Faith In Your Soul</a></h5>
												<h6><a href="javascript:void(0);">$ 12.15</a></h6>
											</div>
										</div>
									</div>
									<div class="tg-minicartfoot">
										<a class="tg-btnemptycart" href="javascript:void(0);">
											<i class="fa fa-trash-o"></i>
											<span>Clear Your Cart</span>
										</a>
										<span class="tg-subtotal">Subtotal: <strong>35.78</strong></span>
										<div class="tg-btns">
											<a class="tg-btn tg-active" href="javascript:void(0);">View Cart</a>
											<a class="tg-btn" href="javascript:void(0);">Checkout</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tg-searchbox">
							<form class="tg-formtheme tg-formsearch">
								<fieldset>
									<input type="text" name="search" class="typeahead form-control" placeholder="Search by title, author, keyword, ISBN...">
									<button type="submit"><i class="icon-magnifier"></i></button>
								</fieldset>
								<a href="javascript:void(0);">+ Advanced Search</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tg-navigationarea">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<nav id="tg-nav" class="tg-nav">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
								<ul>
									<li class="">
										<a href="cathegories.php">All Categories</a>
									</li>

									<li>
										<a href="authors.php">Authors</a>
										<ul class="sub-menu">
											<li><a>Authors</a></li>

										</ul>
									</li>
									<li><a href="livres.php">All books</a></li>
									<li><a href="products.html">Weekly Sale</a></li>
									<li class="menu-item-has-children">
										<a href="javascript:void(0);">Latest News</a>
									</li>
									<li><a href="javascript:void(0);">Contact</a></li>
									<li class="menu-item-has-children current-menu-item">
										<a href="javascript:void(0);"><i class="icon-menu"></i></a>
										<ul class="sub-menu">
											<li><a href="aboutus.php">About Us</a></li>
											<li><a href="contactus.php">contact Us</a></li>
										</ul>
									</li>
									<li class="menu-item-has-children">
										<a href="javascript:void(0);">connexion</a>
										<ul class="sub-menu">
											<li><a href="authors.html">sign in</a></li>
											<li><a href="authordetail.html">sign out</a></li>
											<li><a href="authordetail.html">create your count</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--************************************
				Header End
	*************************************-->
{% endblock %}